		
	<fo:block space-before="1mm"/>
	
	<fo:table font-family="sans-serif" table-layout="fixed" space-before="10pt" space-after="10pt" border-color="black" border-width="0.35mm" border-style="solid">
		<fo:table-column column-number="1" column-width="15mm"/>
		<fo:table-column column-number="2" column-width="20mm"/>
		<fo:table-column column-number="3" column-width="45mm"/>
		<fo:table-column column-number="4" column-width="20mm"/>
		<fo:table-column column-number="5" column-width="35mm"/>
		<fo:table-column column-number="6" column-width="35mm"/>
		<fo:table-column column-number="7" column-width="15mm"/>
		<fo:table-body>
			<fo:table-row line-height="6mm">
				<fo:table-cell padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt" number-columns-spanned="7" border-color="black" border-width="0.35mm" border-style="solid">
					<fo:block text-align="left" font-weight="bold">Payment Type: Card Present (Manual)</fo:block>
				</fo:table-cell>
			</fo:table-row>
			<fo:table-row line-height="3.5mm" border-color="black" border-width="0.35mm" border-style="solid">
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">J2000</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">Tokyo</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">J2000</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Chiyoda-ku</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">June </fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Tokyo</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Tokyo</fo:block>
				</fo:table-cell>
			</fo:table-row>
			<fo:table-row line-height="3.5mm" border-color="black" border-width="0.35mm" border-style="solid">
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">J2000</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">Tokyo</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">J2000</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Chiyoda-ku</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">June </fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Tokyo</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="8pt">Tokyo</fo:block>
				</fo:table-cell>
			</fo:table-row>
			<fo:table-row line-height="4.5mm">
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt"  number-columns-spanned="6">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">Total</fo:block>
					<fo:block border-bottom-width="1pt" border-bottom-style="solid" margin-top="2mm" margin-bottom="3mm"></fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">$ 130.00</fo:block>
					<fo:block border-bottom-width="1pt" border-bottom-style="solid" margin-top="2mm" margin-bottom="3mm"></fo:block>
				</fo:table-cell>
			</fo:table-row>
		</fo:table-body>
	</fo:table>
		
	
	