
			<fo:table-row line-height="4.5mm">
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt"  number-columns-spanned="6">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">Total (${count})</fo:block>
					<fo:block border-bottom-width="1pt" border-bottom-style="solid" margin-top="2mm" margin-bottom="3mm"></fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">${total}</fo:block>
					<fo:block border-bottom-width="1pt" border-bottom-style="solid" margin-top="2mm" margin-bottom="3mm"></fo:block>
				</fo:table-cell>
			</fo:table-row>
		</fo:table-body>
	</fo:table>