	
	<fo:table font-family="sans-serif" table-layout="fixed" space-before="10pt" space-after="10pt" border-color="black" border-width="0.35mm" border-style="solid">
		<fo:table-column column-number="1" column-width="20mm"/>
		<fo:table-column column-number="2" column-width="20mm"/>
		<fo:table-column column-number="3" column-width="45mm"/>
		<fo:table-column column-number="4" column-width="20mm"/>
		<fo:table-column column-number="5" column-width="35mm"/>
		<fo:table-column column-number="6" column-width="40mm"/>
		<fo:table-column column-number="7" column-width="20mm"/>
		<fo:table-body>
			<fo:table-row line-height="4.5mm">
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt"  number-columns-spanned="6">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">REPORT TOTALS (${count_total})</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-weight="bold" font-size="9pt">${total_global}</fo:block>					
				</fo:table-cell>
			</fo:table-row>
		</fo:table-body>
	</fo:table>
	
	
	<fo:block space-before="4mm"/>
	
	<fo:table font-family="sans-serif" table-layout="fixed" space-before="10pt" space-after="10pt">
		<fo:table-column column-number="1" column-width="135mm"/>
		<fo:table-column column-number="2" column-width="100mm"/>
		<fo:table-body>
			<fo:table-row line-height="3.5mm" >
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">______________________________________</fo:block>
					<fo:block text-align="left" font-size="8pt">Cashier</fo:block>
				</fo:table-cell>
				<fo:table-cell border-style="none" border-width="0.1pt" padding-start="0.3em" padding-end="0.2em" padding-before="2pt" padding-after="2pt">
					<fo:block text-align="left" font-size="7pt">______________________________________</fo:block>
					<fo:block text-align="left" font-size="8pt">Verified By</fo:block>
				</fo:table-cell>
			</fo:table-row>
		</fo:table-body>
	</fo:table>
		
	<fo:block id="TheVeryLastPage"> </fo:block>
	
     <fo:block id="end-of-document"> </fo:block>
     </fo:flow>
    </fo:page-sequence>
</fo:root>