<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<fo:root language="IT" xmlns:fo="http://www.w3.org/1999/XSL/Format">	 
	<fo:layout-master-set> 
        <fo:simple-page-master master-name="A4-portrail" page-height="297mm" page-width="210mm" margin-top="5mm" margin-bottom="5mm" margin-left="5mm" margin-right="5mm">		
            <fo:region-body margin-top="5mm" margin-bottom="20mm"/>
            <fo:region-before region-name="xsl-region-before" extent="25mm" display-align="before" precedence="true"/>
			<fo:region-after region-name="xsl-region-after" extent="25mm" display-align="before" precedence="true"/>
        </fo:simple-page-master>		
    </fo:layout-master-set>	
	
    <fo:page-sequence master-reference="A4-portrail">	
	
	<fo:static-content flow-name="xsl-region-after">
		<fo:block border-bottom-width="2pt" border-bottom-style="solid" margin-top="7mm"></fo:block>
		<fo:block  font-size="9px" padding="1mm">If this violation remains unpaid you may be subject to further penalties and/or collection actions including actions by a third party
			agency and/or reporting of delinquency to a credit reporting agency. Any such actions may have adverse effects on your personal
			credit. It is a class B misdemeanor to allow this matter to go into default and your vehicle may be towed from public streets.
		</fo:block>
    </fo:static-content>	
	
	<fo:flow flow-name="xsl-region-body" border-collapse="collapse" reference-orientation="0">		
			<fo:table>
				<fo:table-column column-width="proportional-column-width(200)"/>
				<fo:table-column column-width="proportional-column-width(200)"/>
				<fo:table-body>
					<fo:table-row>
						<fo:table-cell text-align="left" display-align="center" padding-left="2mm">
							<fo:block>Provo City Justice Court</fo:block>
							<fo:block>75 E 1700 S, Suite 100</fo:block>
							<fo:block>Provo, UT 84606</fo:block>
						</fo:table-cell>
						<fo:table-cell text-align="center" display-align="center">
							<!--<fo:block>								
								<fo:external-graphic src="http://s.cdpn.io/3/kiwi.svg"/>
							</fo:block>-->
							<fo:block space-before="3mm"/>
						</fo:table-cell>
					</fo:table-row>
				</fo:table-body>
			</fo:table>
			
			<fo:block space-before="15mm"/>
			 
			<fo:table table-layout="fixed" width="100%" >
				<fo:table-column column-width="proportional-column-width(100)"/>
				<fo:table-column column-width="proportional-column-width(150)"/>
				<fo:table-body>
					<fo:table-row>
						<fo:table-cell text-align="left" display-align="center" padding-left="1cm">
							<fo:block>${owner.firstName}, ${owner.lastName}</fo:block>
							<fo:block>${owner.city}</fo:block>
							<fo:block>${owner.address}, ${owner.stateId}  ${owner.zip}</fo:block>
						</fo:table-cell>
						<fo:table-cell text-align="left" display-align="center">
							<fo:block>
								<fo:block font-size="80%" font-weight="bold">Citation Date: <fo:block font-weight="normal">${citation.citationDate}</fo:block></fo:block>
								<fo:table  border-style="solid" border-width="0.35mm" width="100%">
									<fo:table-column column-width="proportional-column-width(50)"/>
									<fo:table-column column-width="proportional-column-width(50)"/>
									<fo:table-column column-width="proportional-column-width(10)"/>
									<fo:table-body>
										<fo:table-row>
											<fo:table-cell text-align="left" display-align="center" padding="1mm">
												<fo:block font-size="80%" font-weight="bold">Citation Number</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="left" display-align="center">
												<fo:block>
													<fo:block font-size="80%" >${citation.citationNumber}</fo:block>
												</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="left" display-align="center" padding="1mm">
												<fo:block></fo:block>
											</fo:table-cell>
										</fo:table-row>
										<fo:table-row>
											<fo:table-cell text-align="left" display-align="center" padding="1mm">
												<fo:block font-size="80%" font-weight="bold">License</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="left" display-align="center">
												<fo:block font-size="80%">${citation.license}</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="center" display-align="center" padding="1mm">
												<fo:block display-align="center">
													<fo:block font-size="80%" >Citation Amount:</fo:block>
													<fo:table border-style="solid" border-width="0.35mm">
														<fo:table-column column-number="1"/>
														<fo:table-body>
															<fo:table-row>
																<fo:table-cell text-align="center">
																	<fo:block font-size="90%">${citation.violation_amount}</fo:block>
																</fo:table-cell>
															</fo:table-row>
														</fo:table-body>
													</fo:table>
												</fo:block>
											</fo:table-cell>
										</fo:table-row>
										<fo:table-row>
											<fo:table-cell text-align="left" display-align="center" padding="1mm">
												<fo:block font-size="80%" font-weight="bold">Vin</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="left" display-align="center">
												<fo:block>
													<fo:block font-size="80%">${citation.vin}</fo:block>
												</fo:block>
											</fo:table-cell>
											<fo:table-cell text-align="left" display-align="center" padding="1mm">
												<fo:block></fo:block>
											</fo:table-cell>
										</fo:table-row>
									</fo:table-body>
								</fo:table>
							</fo:block>
						</fo:table-cell>
					</fo:table-row>
				</fo:table-body>
			</fo:table>
			
			<fo:block space-before="5mm"/>
			
			<fo:block font-size="80%">Violation Detail</fo:block>
			<fo:table table-layout="fixed" width="100%" font-size="10pt" border-color="black" border-width="0.35mm" border-style="solid" text-align="center" display-align="center" space-after="5mm">
				<fo:table-column column-number="1" column-width="proportional-column-width(130)"/>
				<fo:table-column column-number="2" column-width="proportional-column-width(50)"/>
				<fo:table-column column-number="3" column-width="proportional-column-width(30)"/>
				<fo:table-body>
					<fo:table-row>
						<fo:table-cell padding="3mm">
							<fo:block>${citation.violationDescription}</fo:block>
						</fo:table-cell>
						<fo:table-cell padding="3mm">
							<fo:block>${citation.status}</fo:block>
						</fo:table-cell>
						<fo:table-cell padding="3mm">
							<fo:block>${citation.violation_amount}</fo:block>
						</fo:table-cell>
					</fo:table-row>
				</fo:table-body>
			</fo:table>			
			
			<fo:block border-bottom-width="1pt" border-bottom-style="solid" margin-top="1mm"></fo:block>
			<fo:block space-before="5mm"/>
			
			<fo:block font-weight="bold" font-size="16px" text-align="center">Immediate Payment Due</fo:block>			
			
			<fo:block space-before="3mm"/>
			
			<fo:block font-size="10px" text-align="left">Payment is due for the listed parking citation issued to a vehicle registered in your name. Our records
				indicate this citation remains unpaid. Provo City Ordinances require that the registered owner of a motor
				vehicle is held liable for parking violations issued to that vehicle.
			</fo:block>			
			
			<fo:block space-before="10mm"/>
			
			<fo:table table-layout="fixed" width="100%" font-size="10pt" border-color="black" border-width="0.35mm" border-style="solid" text-align="center" display-align="center" space-after="5mm">
				<fo:table-column column-number="1" column-width="100mm"/>
				<fo:table-column column-number="2" column-width="100mm"/>
				<fo:table-body>
					<fo:table-row text-align="center" >
						<fo:table-cell  number-columns-spanned="2">
							<fo:block font-weight="bold" font-size="14px" padding="3mm">Free Pay Online at www.payprovo.com</fo:block>
						</fo:table-cell>
					</fo:table-row>
					<fo:table-row text-align="center">
						<fo:table-cell>
							<fo:block>Easy and Convenient</fo:block>
						</fo:table-cell>
						<fo:table-cell>
							<fo:block>Avoid Lines</fo:block>
						</fo:table-cell>
					</fo:table-row>
					<fo:table-row text-align="center">
						<fo:table-cell>
							<fo:block>Avoid Additional Late Fees </fo:block>
						</fo:table-cell>
						<fo:table-cell>
							<fo:block>Immediate Payment Credit</fo:block>
						</fo:table-cell>
					</fo:table-row>
				</fo:table-body>
			</fo:table>
			
			<fo:block space-before="10mm"/>		
			
			<fo:block text-align="center" display-align="center" margin-left="1cm">
				<fo:table table-layout="fixed" width="100%" font-size="10pt" display-align="center" space-after="5mm">
					<fo:table-column column-number="1" column-width="proportional-column-width(50)"/>
					<fo:table-column column-number="2" column-width="proportional-column-width(150)"/>
					<fo:table-body>
						<fo:table-row text-align="left">
							<fo:table-cell padding="2mm">
								<fo:block font-weight="bold">BY MAIL:</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm">
								<fo:block>Check or money order payments (DO NOT SEND CASH) can be sent to the address below.</fo:block>
								<fo:block font-size="8pt">Payment by mail is credited on receipt not on postmark</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row text-align="left">
							<fo:table-cell padding="2mm">
								<fo:block font-weight="bold">IN PERSON:</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm">
								<fo:block>Check, cash, money order, and credit card payments are accepted at the address below.</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row text-align="left">
							<fo:table-cell padding="2mm">
								<fo:block font-weight="bold">BY PHONE: </fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm">
								<fo:block>Credit card payments are accepted at (801) 852-6878 during business hours.</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row text-align="left">
							<fo:table-cell padding="2mm">
								<fo:block font-weight="bold">APPEAL:</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="1mm">
								<fo:block>Appeals may be submitted in person or online at www.payprovo.com</fo:block>
							</fo:table-cell>
						</fo:table-row>
					</fo:table-body>
				</fo:table>		
			</fo:block>		
			
			<fo:block space-before="10mm"/>
			
			<fo:block text-align="center" display-align="center">Provo City Justice Court</fo:block>
			<fo:block text-align="center" display-align="center">75 E 1700 S, Suite 100</fo:block>
			<fo:block text-align="center" display-align="center">Provo, UT 84606</fo:block>
			<fo:block text-align="center" display-align="center">(801) 852-6878</fo:block>
			<fo:block text-align="center" display-align="center">M-F 8AM - 5PM</fo:block>						
			
            <fo:block id="end-of-document"> </fo:block>
     </fo:flow>
    </fo:page-sequence>
</fo:root>