<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<fo:root language="IT" xmlns:fo="http://www.w3.org/1999/XSL/Format">	 
	<fo:layout-master-set> 
        <fo:simple-page-master master-name="A4-portrail" page-height="297mm" page-width="210mm" margin-top="5mm" margin-bottom="5mm" margin-left="5mm" margin-right="5mm">		
            <fo:region-body margin-top="5mm" margin-bottom="20mm"/>
            <fo:region-before region-name="xsl-region-before" extent="25mm" display-align="before" precedence="true"/>
			<fo:region-after region-name="xsl-region-after" extent="25mm" display-align="before" precedence="true"/>
        </fo:simple-page-master>		
    </fo:layout-master-set>	
	
    <fo:page-sequence master-reference="A4-portrail">	
	
	<fo:static-content flow-name="xsl-region-after">
		<fo:block border-bottom-width="2pt" border-bottom-style="solid" margin-top="7mm"></fo:block>
		<fo:block  font-size="9px" padding="1mm">If this violation remains unpaid you may be subject to further penalties and/or collection actions including actions by a third party
			agency and/or reporting of delinquency to a credit reporting agency. Any such actions may have adverse effects on your personal
			credit. It is a class B misdemeanor to allow this matter to go into default and your vehicle may be towed from public streets.
		</fo:block>
    </fo:static-content>	
	
	<fo:flow flow-name="xsl-region-body" border-collapse="collapse" reference-orientation="0">		
			